<!DOCTYPE html>
<html>
<body style="background:#121212;color:white;text-align:center;margin-top:100px;">

<h2>Admin Login</h2>

<input
    id="user"
    placeholder="Username"
    onkeydown="handleKey(event)"
>

<br><br>

<div style="
    position:relative;
    width:220px;
    margin:auto;
">

    <input
        id="pass"
        type="password"
        placeholder="Password"
        onkeydown="handleKey(event)"
        style="
            width:100%;
            padding-right:55px;
            box-sizing:border-box;
        "
    >

    <span
        onclick="togglePassword()"
        style="
            position:absolute;
            right:10px;
            top:50%;
            transform:translateY(-50%);
            cursor:pointer;
            color:black;
            font-size:12px;
            font-weight:bold;
        "
        id="togglePass"
    >
        Show
    </span>

</div>

<br><br>

<button onclick="login()">
    Login
</button>

<script>
function login(){

    fetch("/admin/login", {
        method:"POST",
        headers:{
            "Content-Type":"application/json"
        },
        body: JSON.stringify({
            username:
                document.getElementById("user").value,

            password:
                document.getElementById("pass").value
        })
    })
    .then(res=>res.json())
    .then(data=>{

        console.log("LOGIN RESPONSE:", data);

        if(data.success){

            
            fetch("/admin")
            .then(r => {

                console.log("ADMIN STATUS:", r.status);
                return r.text();

            })
            .then(html => {

                console.log("ADMIN PAGE:", html);

                window.location.href="/admin";
            });

        } else {

            alert(
                data.message ||
                "Invalid credentials"
            );
        }
    });
}

function togglePassword(){

    const pass =
        document.getElementById("pass");

    const btn =
        document.getElementById("togglePass");

    if(pass.type==="password"){

        pass.type="text";
        btn.innerText="Hide";

    }else{

        pass.type="password";
        btn.innerText="Show";
    }
}

function handleKey(e){

    if(e.key==="Enter"){

        e.preventDefault();
        login();
    }
}
</script>

<script>
history.pushState(null, null, location.href);

window.onpopstate = function () {
    window.location.href = "/";
};
</script>

</body>
</html>
